
.navbar {
	border-radius: 0;
}

.nav a {
	font-size: 11pt;
}

.ags_group_row {
	background-color: #FFFBAC;
	border-top: 1px solid #444444;
}
.ags_group_header {
	background-color: #FFFDD7 !important;
}
.ags_group_data {
	background-color: #DCFFA0 !important;
}



.ags_raw_text {
	font-family: monospace;
	font-size: 10pt;
}